/* src/App.css */
.app {
  background-color: rgb(24, 24, 24);
  display: flex;
  position: relative;
  transition: filter 0.5s ease;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height to center vertically */
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1100;
}

.auth-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container input {
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  border: none;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin:10px 0;
  border-radius: 5px;
  
}

.auth-container .error {
  color: red;
}
