.history-section {
    padding: 10px;
    color: white;
    max-height: 400px; /* Limit height */
    overflow: hidden; /* Hide overflow content */
}

.history-scrollable {
    max-height: 400px; /* Scrollable area height */
    overflow-y: auto; /* Enables vertical scrolling */
    padding-right: 10px;
    scrollbar-width: none;
}

.history-category h4 {
    margin-top: 10px;
    color: #f5a623;
    font-size: 1.2em;
}

.history-category ul {
    list-style-type: none;
    padding: 0;
}

.history-category li {
    background: #333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.history-category li strong {
    color: #fff;
}

.history-category li small {
    display: block;
    font-size: 0.8em;
    color: gray;
}
